[2016-06-17 08:02] eklem opened #2 "Add stopwords for more languages"
We should add stopwords for more languages. I'll add Sweedish and Danish, since I can make sense of which of the most used words in those languages that bears little or no meaning:

- [x] Danish - [most common words](http://www.101languages.net/danish/most-common-danish-words/)
- [x] Swedish - [most common words](http://www.101languages.net/swedish/most-common-swedish-words/)

Also check what can

[2016-06-20 12:58] eklem commented on #2
Creating separate issue of chinese

[2016-06-20 12:58] #2 closed

[2016-06-20 13:07] eklem opened #5 "Stopwords file for chinese"
We should add stopwords for more languages. I'll need some help to create A chinese stopword-file, since I can't make sense of it myself.

Could be based on https://invokeit.wordpress.com/frequency-word-lists/#comment-9707 or https://github.com/6/stopwords/blob/master/dist/zh.json
- [ ] Chinese

[2016-07-10 18:31] bingomanatee opened #6 "accept arrays?"
Is is possible to accept arrays as an input as well as text?

[2016-07-12 07:40] eklem commented on #6
Hi @bingomanatee, @fergiemcdowall is on vacation right now, so I'm more guessing than coming with an authoritative answer. Looking at the tests, it seems there are only strings being used as input. What's the usecase for inputing an array?

[2016-07-14 16:31] fergiemcdowall commented on #6
Hi @bingomanatee

No, Arrays are not accepted, but they really should be because that way the string separator logic could be extracted out of the library. I am leaning towards a (semver happy) version bump which would alter the API to make Arrays the input format.

[2016-07-14 16:32] fergiemcdowall commented on #6
In the meantime you can of course convert your Strings to Arrays using `.join`

[2016-10-03 10:45] JeremyPouyet opened #7 "Stop words not recognized if punctuation"
I don't know if it's the normal behavior, but stop words aren't recognized if non alpha characters are present in the string:

[code]

I know I can avoid this by using split(/[ !]/) but it starts becoming annoying because I have to list all possible characters and it can leads to loss of meaning in the text. For the same reason, I also don't want to remove all punctuation from the text.

[2016-10-03 11:01] fergiemcdowall commented on #7
Yes, that is the correct behaviour, as far as I know you must use regex for this type of work. Have you investigated doing something with [.replace](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace) in order to preserve punctuation?

[2016-10-03 12:21] JeremyPouyet commented on #7
I work with an important volume of data, using .replace is not efficient. But that's not a problem, I'll find another way to do this, thank you.

[2016-10-03 12:44] fergiemcdowall commented on #7
Since you have a lot of data, I wonder if there is a smart way to do this with streams...

[2016-10-04 17:58] #7 closed

[2017-01-26 20:07] fergiemcdowall commented on #6
@bingomanatee `stopword` now accepts arrays rather than strings

[2017-01-26 20:07] #6 closed

[2017-06-18 15:04] nanopx opened #9 "Japanese stopwords are undefined"
Japanese stopwords are `undefined`.

[code]

Workaround for now is:
[code]

[2017-06-18 17:54] #9 closed

[2017-06-19 10:36] eklem commented on #5
So, creating the file is easy, but I need some tests. @fergiemcdowall Is it okay to add without tests, and then I can create some tests later, when issues starts to emerge?

I'll base it on this:
https://github.com/6/stopwords-json/blob/master/dist/zh.json

[2017-06-19 11:09] eklem commented on #5
Sorry, this one already exists.

[2017-06-19 11:09] #5 closed

[2017-06-19 11:19] fergiemcdowall commented on #5
It is _generally_ better to add with tests if possible :)

[2017-06-19 11:23] eklem commented on #5
I know, and I did that for Swedish and Danish =)
A little chicken and egg problem since I don't know any Chinese simplified, but we already have the JSON-file, I just saw and [old, open issue](https://github.com/fergiemcdowall/stopword/issues/5) and didn't check.

[2017-06-19 11:33] eklem opened #11 "Add stopword list for Hindi"
Base it on:
https://github.com/stopwords-iso/stopwords-hi

[2017-06-19 11:35] eklem opened #12 "Add stopword list for Urdu"
Base it on:
https://github.com/stopwords-iso/stopwords-ur

[2017-06-19 11:36] eklem opened #13 "List out languages and not just abbreviation in README"
Better marketing of library and search engine

[2017-06-19 11:49] eklem opened #14 "Add stopword list for Bengali"
https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2017-06-19 11:54] eklem opened #15 "Add stopword list for Arabic"
https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2017-06-19 11:55] eklem opened #16 "Add stopword list for German"
https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2017-06-19 13:59] eklem opened #18 "Missing language tests"
Add tests for the following languages:
* [x] es
* [x] fa
* [x] fr
* [x] it
* [x] ja
* [x] nl
* [x] pl
* [x] pt
* [x] ru
* [x] zh

[2017-06-19 18:20] eklem commented on #18
The Japanese text needs to be tokenised. This library works: http://chasen.org/~taku/software/TinySegmenter/

A bit more about the issue: http://www.mollydesjardin.com/blog/pre-processing-japanese-literature-for-text-analysis/

[2017-06-20 11:08] eklem commented on #18
And as text analysis for Chinese Simplified, I used https://github.com/yishn/chinese-tokenizer

[2017-06-20 11:08] #18 closed

[2017-06-20 11:13] #11 closed

[2017-06-21 07:26] eklem commented on #15
https://github.com/fergiemcdowall/stopword/pull/20

[2017-06-21 07:26] #15 closed

[2017-06-21 08:09] eklem commented on #12
Maybe a bit to long down on the list, closing for now. Will do all over 100 million users, or close to, on this list: https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2017-06-21 08:09] #12 closed

[2017-06-21 08:09] eklem opened #21 "Add Punjabi Gurmukhi stopwords and test"
Could base it on this paper, but not sure how the license situation is: http://ijoes.vidyapublications.com/paper/Vol8/15-Vol8.pdf

[2017-06-21 10:24] eklem commented on #14
Bases it on: https://github.com/stopwords-iso/stopwords-bn

[2017-06-22 07:02] #16 closed

[2017-06-22 07:02] #14 closed

[2017-06-22 07:02] #13 closed

[2017-06-22 07:12] eklem opened #23 "Create a generator for stopword list for any language"
Base the stopword generator on this research:
[Automated Stopwords Identification in Punjabi Documents](http://ijoes.vidyapublications.com/paper/Vol8/15-Vol8.pdf)
By: Rajeev Puri, Dr. R.P.S. Bedi, Dr. Vishal Goyal

[2017-06-23 06:50] eklem commented on #23
Making a separate module for this: [stopword-generator](https://github.com/eklem/stopword-generator)

[2017-06-23 06:50] #23 closed

[2017-06-26 10:40] ulfryk opened #25 "ES6 features in code base - a breaking change"
Version to `1.1.3` (or `1.1.2`) introduces ES6 `=>` function syntax in code published to NPM which seems to be a breaking change… And there is no info about it (can't find any release notes no changelog).

[2017-06-26 10:43] eklem commented on #25
It happened [January 26th](https://github.com/fergiemcdowall/stopword/commit/67a7331d057bc744f4ce5a0a97d055be36668ba3) I think.

[2017-06-26 10:45] eklem commented on #25
When it ended up on [NPM](http://npmjs.com/), I'm not sure.

[2017-06-26 10:50] ulfryk commented on #25
I verified - it's version `1.1.2` that introduced ` => `.

[2017-06-26 10:57] eklem commented on #25
Yes, it was a (too) long time between 0.1.1 and 0.1.2:

[code]

[2017-06-26 11:09] eklem commented on #25
Sorry for causing problems!

[2017-06-26 11:26] ulfryk commented on #25
Not a huge problem (for now we'll use `1.1.1`) :) It's great that this lib exists and we can use it!

Anyway - it would be nice if there was some changelog or release notes on GH.

… and maybe you can introduce a `patch` that would get the lib back to ES5 ?

[2017-06-26 11:38] eklem commented on #25
We'll be better at release notes on GH, but I can't promise a patch. I'll give it a try if I find some time.

[2017-06-26 11:40] fergiemcdowall commented on #25
+1 for release tagging and changelog :)

[2017-06-26 13:33] eklem commented on #25
So @ulfryk,
If I understand you right, it would work if I change this:
[code]

[code]

[2017-06-26 13:35] eklem opened #26 "tag versions"
Start tagging versions with some meaningful comments

[2017-06-26 13:45] ulfryk commented on #25
Right :)

[2017-06-26 13:45] ulfryk commented on #25
[code]

[2017-06-26 13:49] fergiemcdowall commented on #25
@ulfryk want to submit a pull request?

[2017-06-26 14:06] ulfryk commented on #25
probably I'll do that ;)

[2017-06-26 14:14] ulfryk commented on #25
I see that version `1.1.4` was just released to NPM now…

[2017-06-26 14:15] eklem commented on #25
0.1.4 was just to get the changelog in the Readme file onto NPM

[2017-06-27 12:36] eklem commented on #25
Fix available on [npmjs.com/package/stopword](https://www.npmjs.com/package/stopword) @ulfryk Can you test it?

[2017-06-27 12:59] ulfryk commented on #25
Looks good now! THX

[2017-06-27 13:00] eklem commented on #25
Cool! Just open an issue if there is something else.

[2017-06-27 13:00] #25 closed

[2017-06-28 08:32] eklem commented on #26
Started with [v0.1.6](https://github.com/fergiemcdowall/stopword/releases/tag/v0.1.6)

[2017-06-28 08:32] #26 closed

[2017-06-29 10:51] eklem opened #28 "Make it ready for nodejs v.7"
Some dependencies needs an upgrade

[2017-07-25 08:58] eklem opened #29 "Make it run in the browser"
A stopword module can come in handy a lot of places, also in the browser. And it doesn't have any dependencies (only devDependencies). What would it take to run it in the browser, @fergiemcdowall ?

[2017-07-25 10:03] fergiemcdowall commented on #29
It should just work with browserify. If we were super organised we could also create a 'dist' file that contained a browser-runnable version

[2017-07-25 10:04] eklem commented on #29
Cool. So to be super organised, we need to browserify it for each new release?

[2017-07-25 10:08] fergiemcdowall commented on #29
Yes, and that step can be easily added to the scripts

[2017-07-25 10:15] eklem commented on #29
Nice! I want to try getting the [eklem-headline-parser](https://github.com/eklem/eklem-headline-parser) to run in the browser, and base it on stopword for stopword removal. Then I can add arrays of important keywords to the document for categorizing before sending the document to indexing.

[2017-09-08 06:24] eklem opened #32 "add Brazilian Portuguese to the documentation"
Update version if not done, and publish to NPM

[2017-09-08 07:40] #32 closed

[2017-09-08 09:33] fergiemcdowall commented on #32
👍

[2017-09-10 08:24] isaklafleur opened #33 "more stop word in english.. Not an issue!"
Hi!

Thank you for a great lib! I have a larger list with stop word in English here that I have collected from various sources. If you like to add some of them just go ahead. :)

[code]

[2017-09-10 11:59] fergiemcdowall commented on #33
It would be great to give people the option to use this set. It might be too comprehensive for some use cases, but we can surely find some way to break up stopwords into subsets, and let people pick and mix as they see fit

[2017-09-10 12:30] isaklafleur commented on #33
@fergiemcdowall if I may suggest.

have a function that can take a argument that can be an array of strings (the users stop words) ?

const newString = sw.removeStopwords(oldString, **arrayOfStopWords**)

[2017-09-10 12:42] eklem commented on #33
That makes it flexible, nice!

[2017-09-10 13:08] isaklafleur commented on #33
@eklem @fergiemcdowall

This is how I solved it.

[code]

can probably be improved.

[2017-09-10 13:20] eklem opened #34 "possibility to limit amount of stopwords in use?"
Was thinking that needs for stopwords wary, and that it may be nice to set a limit on how many from the list that should be used.

For this to work, the arrays needs to be sorted in most to least used words.

This also fits nicely with a stopword trainer, if we get to make that.

[2017-09-10 15:15] fergiemcdowall commented on #33
@isaklafleur solved what? :) (maybe its just too late on a sunday for me)

[2017-09-10 15:19] fergiemcdowall commented on #34
The problem is ordering the stopword lists by usage. If we could do that, it would then be pretty trivial to do something like `sw.en.slice(0, 10)`.

[2017-09-10 23:47] isaklafleur commented on #33
Hi @fergiemcdowall
I wasnt clear.. :)

I made this method to solve my problem. What I meant if, you should have an optional argument so the user can use their own stop word array. It no array is selected, then it uses the default lists you have. Could be an idea.

[2017-09-11 06:58] fergiemcdowall commented on #33
Ahh- I see.

At the moment you can do this, which _seems_ to do the same?:

[code]

[2017-09-11 07:01] eklem commented on #33
Ok. What I suggest we do then, @isaklafleur and @fergiemcdowall. I'll document the custom way adding a stopword array since that seems to do the trick @isaklafleur ?

[2017-09-11 07:33] isaklafleur commented on #33
Hi! Ah. Didn't know that. Great! Thank you guys!

On Mon, 11 Sep 2017 at 09:01, Espen Klem <notifications@github.com> wrote:

--

Kind Regards
Isak Engdahl

[2017-09-11 07:53] eklem commented on #33
And I'll add a test for a custom stopword array.

[2017-09-11 07:58] fergiemcdowall commented on #33
Perhaps the README could be clearer

[2017-09-11 08:00] eklem commented on #33
I'm on it, @fergiemcdowall =)

[2017-09-11 10:50] eklem commented on #33
Do you have the list as an array, @isaklafleur ? I'll open the wiki and add it there.

[2017-09-11 11:23] eklem commented on #34
Ok, I'll play around with streams over at [stopword-trainer](https://github.com/eklem/stopword-trainer) =)

[2017-09-11 11:24] #34 closed

[2017-09-11 11:27] #33 closed

[2017-09-18 10:37] eklem commented on #21
Use the new [stopword-trainer](https://github.com/eklem/stopword-trainer). Still needs some help from someone with good punjabi knowledge, verifying the result.

[2017-09-28 07:47] isaklafleur commented on #33
Hi @eklem ,
Sorry for the late reply. Here is the array.
`const stopwords = ["'ll","'ve","a","a's","able","about","above","abst","accordance","according","accordingly","across","act","actually","added","adj","affected","affecting","affects","after","afterwards","again","against","ah","ain't","all","allow","allows","almost","alone","along","already","also","although","always","am","among","amongst"

[2017-09-28 08:26] eklem commented on #33
No problem, @isaklafleur, and thanks for the list as an array! I've put it in the wiki.

[2017-10-20 19:02] FabricioRHS commented on #29
Implementing this functionality will be very good. 👍

[2017-10-21 06:55] eklem commented on #29
It will happen, @FabricioRHS, we're just not sure how long it'll take 😃

[2018-02-10 18:27] zwif commented on #16
Hey @eklem,
can you provide some information on how you retrieved the list?
Thank you!

[2018-02-10 18:36] eklem commented on #16
I don't remember. I see it's lacking info on who created it originally and license. I'll figure it out or remove it. Most probably it's from another open-source library. Was that why you were asking?

[2018-02-10 18:41] zwif commented on #16
No, it's not due to licensing at all. I am just gathering words for my own stopword list in german and thought you might had a good source for me.

[2018-02-12 07:15] eklem commented on #16
It's this library I think: [stopwords-iso/stopwords-de](https://github.com/stopwords-iso/stopwords-de). Check out that one, or if you want to create a list of stopwords yourself, you can use the [stopword-trainer](https://github.com/eklem/stopword-trainer).

[2018-02-21 01:20] jesskrich opened #36 "Breaking my app (was: Is this Library Being Maintained?)"
There are no Node version requirements listed, and someone opened an issue before requesting it be made compatible with Node v. 7. I am using 8.4. Some updated docs would be helpful. This keeps breaking my app when I try to use it.

[2018-02-21 07:04] fergiemcdowall commented on #36
Hi @jesskrich , yes it is still being maintained- although the node versions haven't specifically been updated, everything should work everywhere.

[2018-02-21 07:36] eklem commented on #28
I'll see if I can add tests for all the latest versions of Node.

[2018-02-21 07:46] eklem commented on #36
https://github.com/fergiemcdowall/stopword/issues/28#issuecomment-367238170

[2018-02-21 09:01] fergiemcdowall commented on #28
I think it just needs to be updated here: https://github.com/fergiemcdowall/stopword/blob/master/.travis.yml

[2018-02-21 16:05] eklem commented on #28
I'll test it and figure out a little more about Travis

[2018-02-21 20:01] fergiemcdowall commented on #28
It should run automatically in travis once the file is updated

--
Apologies for brevity- this message was sent from my mobile

[2018-02-23 11:51] eklem commented on #28
Fixed with [Testing on more versions of Node (4,6,8 and 9) ](https://github.com/fergiemcdowall/stopword/commit/55b807b8724d3b820300b077d093389de7474988) and [Removing tests for version 5 of NodeJS ](https://github.com/fergiemcdowall/stopword/commit/cb17df42791ef6e0455a0129846a7b3e11141eee)

[2018-02-23 11:51] #28 closed

[2018-02-23 11:52] eklem commented on #36
Just updated which versions of Node to test on, it's now 4,6,8 and 9. Is this okay now @jesskrich ?

[2018-02-23 14:42] fergiemcdowall commented on #28
👍 👍

[2018-02-23 17:05] jesskrich commented on #36
Thanks! I'll give it another go.

On Fri, Feb 23, 2018 at 6:52 AM, Espen Klem <notifications@github.com>
wrote:

--
Best,

Jessie Richardson
Software Developer
jessiecodes.com

[2018-02-23 18:30] eklem commented on #21
Check if wikipedia.org has articles in Punjabi and test if [wikiminer](https://github.com/verasveras/wikiminer) can help getting the content.

[2018-02-28 06:20] eklem commented on #36
We'll keep this open until you get to test it again =)

[2018-03-12 12:46] eklem commented on #21
https://en.wikipedia.org/wiki/Special:AllPages?from=&to=&namespace=0

[2018-04-04 08:18] eklem commented on #29
And it would be a nice part of the tool-chain together with the [crawler-in-browser](https://github.com/eklem/crawler-in-browser) module.

[2018-04-05 08:29] eklem commented on #29
Ok, so have a [`build`-step under scripts](https://www.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/) and [check out how to use the browserify API from a script](https://github.com/browserify/browserify#api-example).

[2018-04-13 05:53] eklem commented on #36
Feel free to open it if it still fails, @jesskrich !

[2018-04-13 05:53] #36 closed

[2018-04-13 06:16] eklem commented on #21
So, [Punjabi](https://en.wikipedia.org/wiki/Punjabi_language) is split in two different alphabets: [Gurmukhi](https://en.wikipedia.org/wiki/Gurmukhi_script) and [Shahmukhi](https://en.wikipedia.org/wiki/Shahmukhi_alphabet).

They each have their own Wikipedia site, so it'll be possible to use the wikipedia-stopword-crawler to create a stopword list for each:

* [ ] [Gurmukhi Wikipedia](https://pa.

[2018-05-15 09:46] eklem commented on #21
Let me know if you need this. It will happen, but it will happen sooner with someone needing it 😃

[2018-06-05 14:36] Haski-server opened #37 "StopWords Russian"
Use the stop word from the stopwords-ru package.
More words in the repository https://github.com/stopwords-iso

[2018-06-05 18:03] eklem commented on #37
Is that one a good list of Russian stopwords you think?

[2018-06-06 00:18] Haski-server commented on #37
Partly good, as there are words not related to them. For example, the numbers can be replaced by a written version.

[2018-06-06 06:29] eklem commented on #37
Ok, when I add it, could you make the small addition of written numbers?

[2018-06-06 08:10] eklem opened #38 "Generate Russian stopwords from Wikipedia"
Possibly use the [stopword-trainer](https://github.com/eklem/stopword-trainer) and the [wikipedia-stopword-crawler](https://github.com/eklem/wikipedia-stopword-crawler) on [ru.wikipedia.org](https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0) to generate a big, frequency sorted list of stopwords for Russian language

[2018-06-06 08:12] eklem commented on #37
Later, I can also [generate a bigger and frequency sorted list of stopwords based on ru.wikipedia.org](https://github.com/fergiemcdowall/stopword/issues/38). But that's a job that takes a bit more time.

[2018-06-24 08:30] Haski-server commented on #37
Here is the list I often use. In this list, words that do not affect the meaning of the text or do not significantly change the meaning. Perhaps it is worth to supplement it a little.
I have a little studied the list of Russian words (https://github.com/stopwords-iso), and I came to the conclusion that there are words there which the absence can strongly spoil the meaning.

`['и', 'в', 'во', 'не',

[2018-06-25 06:50] eklem commented on #37
Nice, thanks!

[2018-08-01 14:05] flesler opened #39 "Add isStopWord() to filter word by word"
^

[2018-08-01 14:10] eklem commented on #39
Not fully sure I understand?

[2018-08-01 14:51] flesler commented on #39
[code]

[2018-08-06 08:16] eklem commented on #39
Sorry for slow response here, @flesler . Do you have a use-case so I can understand why? What's your need for this?

[2018-08-06 12:42] flesler commented on #39
Sure, if you want to integrate this to something else, like [compromise](https://github.com/spencermountain/compromise) you need to filter by word.

Another use case, you might want to just highlight stop words, not remove them. This library could still satisfy that need if you just expose this.

[2018-08-14 07:43] eklem commented on #39
I'll have a go at this soon!

[2018-08-14 08:12] eklem opened #40 "Add tests for isStopWord()"
When [isStopWord](https://github.com/fergiemcdowall/stopword/issues/39) is implemented, add tests for it. Two words (one that is and one that isn't a stopword for two-three languages).

[2018-08-14 09:33] eklem opened #41 "Add documentation for isStopWord"

[2018-09-08 18:35] eklem commented on #39
Need to do a little benchmarking old/new code.

[2018-09-23 09:00] manmeet3591 commented on #21
Hi Eklem

I know the gurmukhi script and Punjabi language as a native speaker, and I work at the intersection of deep learning and atmospheric science. I came here from the article https://medium.com/norch/input-text-ouput-stopwords-bf40f4f22900 Please let me know how I can contribute in the code and the language. I would be happy to be a part of both.

Regards
Manmeet

[2018-09-23 16:31] manmeet3591 commented on #21
Thats awesome @eklem I understand that the outcome of words needs to be meaningful and I would give time to it. Additionally it would be of great use to many people, Let me know if we can do more on the code side as well.

[2018-09-23 18:06] eklem commented on #21
Nice, I'll just verify my process tonight with a Norwegian dataset to see that everything still works as intended. The `stopword-trainer` is at it as we speak. Then I'll start tomorrow on tweaking my wikipedia-crawlers to match the Gurmukhi Wikipedia-site and possibly start crawling Wikipedia article URLs. When that's done, I need to crawl the pages and run the stopword-trainer.

And when that's d

[2018-09-23 20:30] manmeet3591 commented on #21
Perfect :)

[2018-09-24 10:45] eklem commented on #21
`next page`-check can be done on "ਅਗਲਾ ਸਫ਼ਾ"

[2018-09-24 15:58] manmeet3591 commented on #21
Yes it can be done on  "ਅਗਲਾ ਸਫ਼ਾ"

[2018-09-25 09:17] manmeet3591 commented on #21
Good going @eklem

[2018-09-25 18:16] eklem commented on #21
Got the URL crawler going, so now I have little over a 30000 URLs to crawl later. Will look into that tomorrow.

[2018-09-26 06:46] eklem opened #42 "Test, document and add tests for limiting the stopword-list"
Ref [possibility to limit amount of stopwords in use](https://github.com/fergiemcdowall/stopword/issues/34).

Soon we'll have long lists for Norwegian and Punjabi Gurmukhi that are sorted on how frequently the words are used. With a long list you can choose to agressively remove a lot of words, or slice the list and be less agressive.

This will mean a minor semver version bump I guess.

[2018-09-26 13:37] ulfryk opened #43 "ES6 `const`"
Please remove `ES6` features from `main` library ( `const` in first line ) - there is a way to release both for ES5 targets and ES6 at once -> https://stackoverflow.com/questions/42708484/what-is-the-module-package-json-field-for

[2018-09-27 19:50] manmeet3591 commented on #21
is the url crawler still going on ?

[2018-09-28 05:09] eklem commented on #21
It's finished and looking good. I was sick yesterday, so didn't get anything done then. The crawler for content just needs a small tweak I think, and I'll hopefully get that going today.

[2018-09-28 07:07] eklem commented on #43
Thanks, @ulfryk !
I'll look into that. Would it be okay if we downgraded to `var` in the mean time?

[2018-09-28 07:53] eklem commented on #43
0.1.11 is out on [npmjs](https://www.npmjs.com/package/stopword/v/0.1.11) 😄

[2018-09-28 07:53] #43 closed

[2018-09-28 08:11] eklem commented on #29
Look at how search-index is doing this.

[2018-09-28 08:14] eklem opened #44 "Make test for running in the browser"
To support "[make it run in the browser](https://github.com/fergiemcdowall/stopword/issues/29)".

[2018-09-28 11:40] eklem commented on #21
Here's the output from the stopword-trainer after crawling 30 docs (have urls for approximately 30000 docs) and selecting the 500 most used words:
[code]
As you see its quite some English words there. We'll remove them manually. Also, because Wikipedia is an encyclopedia, there will be words often used that you actually bears meaning, and thus is not a stopword. We'll remove them manually too.

50

[2018-09-29 06:51] manmeet3591 commented on #21
Hi @eklem
Yeah the result looks okay, you can start the process of crawling the docs.
I am removing the english words and the list is as below
। is fullstop in punjabi so i am removing that as well, we can consider it as a separate word i guess which the stopword-trainer has already taken

["ਹੈ","ਦਾ","ਦੇ","ਹੈ","ਵਿੱਚ","ਅਤੇ","ਇੱਕ","ਨੂੰ","ਇਹ","ਲਈ","ਤੋਂ","ਦੀ","ਸਾਲ","ਇਸ","ਹਨ।","ਨਾਲ","ਦਿਨ","ਡੋਮੇਨ","ਜੋ",

[2018-09-29 16:42] eklem commented on #21
Cool, here is the stopword-trainer results from 32000 documents:

["ਦੇ","0","ਹੈ।","ਵਿੱਚ","ਦਾ","ਅਤੇ","ਦੀ","ਇੱਕ","ਨੂੰ","ਹੈ","ਤੋਂ","ਇਸ","ਇਹ","ਨੇ","ਤੇ","ਨਾਲ","1","ਲਈ","ਵੀ","ਸੀ।","ਹਨ।","ਸੀ","ਵਿਚ","ਕਿ","ਜੋ","ਉਹ","ਉਸ","ਹਨ","ਜਾਂਦਾ","ਕੀਤਾ","2","ਗਿਆ","ਹੀ","ਕੇ","ਜਾਂ","ਦੀਆਂ","ਜਿਸ","ਕਰਨ","ਹੋ","ਕਰ","ਆਪਣੇ","ਕੀਤੀ","ਤੌਰ","ਬਾਅਦ","ਨਹੀਂ","ਭਾਰਤੀ","ਪਿੰਡ","3","ਸਿੰਘ","ਉੱਤੇ","ਸਾਲ","।","ਪੰਜਾਬ","ਸਭ","ਭਾਰਤ","ਉਨ੍ਹਾਂ","ਹੁੰਦਾ",

[2018-09-29 18:09] eklem commented on #21
Also, should we leave 0-9 in the list?

[2018-09-30 05:39] eklem commented on #42
Alternatives I see is to make it optional to express how many words to use, and:
* have a default value on i.e. the 100 first words
* always use the full list

[2018-10-01 05:44] eklem opened #45 "Generate Punjabi Shahmukhi stopwords"
* [ ] [Shahmukhi Wikipedia](https://pnb.wikipedia.org/wiki/%D9%BE%DB%81%D9%84%D8%A7_%D8%B5%D9%81%DB%81) and the [list of all pages](https://pnb.wikipedia.org/w/index.php?title=%D8%AE%D8%A7%D8%B5:AllPages&hideredirects=1).

Need someone to look through the lists of words when generated.

[2018-10-01 18:55] manmeet3591 commented on #21
Sorry I was out for a day, the output from the stopword-trainer looks good and we should have 0-9 in the list

[2018-10-02 06:07] eklem commented on #21
No stress :smile: I'll create a test and add it to the library.

[2018-10-02 09:40] eklem commented on #21
Now it's published as v.0.1.13. I removed the words that had `।` attached at the end and checked that the words without was available in the stopword lists. For the list to be even a little better I could remove all the `।` at the end of words so the calculation is fully correct.

Also removed some a-z letters. Some were english single character words, and some left over from crawling text. Stuff

[2018-10-02 09:40] #21 closed

[2018-10-02 14:10] manmeet3591 commented on #21
Thats great @eklem

[2018-10-05 18:38] eklem commented on #21
Thanks for your work, @manmeet3591 ! And let me know if you have any issues with the stopword-list.

[2018-10-08 11:26] eklem opened #46 "Add Vietnamese stopwords"
Use [these from fork ](https://github.com/vmdao/stopword/commit/6bf234ad7f1bcdfdb2f35f4c5e5bdc95b869e852)

[2018-10-08 11:27] eklem opened #47 "Add test for vietnamese"
Add test for [Vietnamese](https://github.com/fergiemcdowall/stopword/issues/46) stopword-list.

[2018-10-08 11:33] eklem commented on #46
If time, use `stopword-trainer`

[2018-10-29 08:23] eklem opened #48 "Northern Sami"
Here's the [list of all pages](https://se.wikipedia.org/w/index.php?title=Erenoam%C3%A1%C5%A1:Buot_siiddut&hideredirects=1).

The Wikipedia-site has over 7000 articles so it should be enough to generate a good list of stopwords.

 Could also be a nice start for a Northern Sami search engine.

[2018-11-03 09:46] dohliam opened #49 "Additional stopwords and tools"
Are you aware of the [stopwords-json](https://github.com/6/stopwords-json) project which already has json-format lists of stopwords for 50 languages? This would be an easy way to expand the list of languages supported without recreating the lists for each language from scratch.

I have also created some scripts to manage stoplist creation as part of the [more-stoplists](https://github.com/dohliam/

[2018-11-03 12:48] eklem commented on #49
Yes,
I'm aware of it, and I think some of the languages in `stopword` are from the `stopwords-json` project. Not sure why I haven't just copied them all, but maybe I should do that!

There's an extra reason for generating stopword lists myself, and that is frequency sorting of the stopwords. That means they can be used more or less aggressively by using the whole list or just a portion of it.

[2018-11-03 12:48] eklem commented on #49
And cool with the african languages!

[2018-11-04 10:19] dohliam commented on #49
Great, thanks for letting me know about the reasoning behind the project. It makes sense to look at frequency for the reasons you mentioned.

Given that you are looking for frequency-arranged stoplists, you may be interested to know that this is in fact exactly how the lists in the more-stoplists project were generated. All the frequency-sorted data is available in that same repo -- you can find i

[2018-11-04 13:53] eklem commented on #49
Cool, that's great news. i'll get all the languages in from `more-stoplists`. Also, I'll add from `stopwords-json` and just mark those that are frequency sorted in the overview.

[2018-11-14 07:57] eklem commented on #49
@dohliam Would you be able to verify that the test's I set up are correct?

[2018-11-14 14:09] dohliam commented on #49
@eklem Sure! I'll try to look at these this week. By the way, are the tests you are referring to [these ones](https://github.com/fergiemcdowall/stopword/blob/master/test/test.js)?

[2018-11-14 14:10] eklem commented on #49
Yepp =) Haven't made any new ones, but that's what's needed to get new languages in.

[2018-11-21 08:18] eklem opened #50 "Add Finnish stopwords"
Use the stopword-trainer

[2019-01-03 08:34] Kyaw-Zin-Thant opened #51 "add Myanmar stopword"
Plz add Myanmar stop words in package.

[2019-01-03 08:47] eklem commented on #51
Yes! Is there a Wikipedia-site in Myanmar language?

[2019-01-03 09:32] eklem commented on #51
This one, I'm guessing: [ဗဟိုစာမျက်နှာ](https://my.wikipedia.org/wiki/%E1%80%97%E1%80%9F%E1%80%AD%E1%80%AF%E1%80%85%E1%80%AC%E1%80%99%E1%80%BB%E1%80%80%E1%80%BA%E1%80%94%E1%80%BE%E1%80%AC)

[2019-01-03 10:21] Kyaw-Zin-Thant commented on #51
support Myanmar in stopword node modules?

[2019-01-03 10:45] eklem commented on #51
Yes, sorry. I just asked about the Wikipedia site since I need a dataset with the language for the [stopword-trainer](https://github.com/eklem/stopword-trainer) to create a stopword list.

If you can help verify the final list of stopwords, I'll create it.

[2019-01-03 10:47] Kyaw-Zin-Thant commented on #51
I will send Myanmar stopwords file. You can crate this in stopwords node modules

[2019-01-03 10:48] eklem commented on #51
Ok, great. I'll add it.

[2019-01-03 10:50] Kyaw-Zin-Thant commented on #51
[stopwords-my.txt](https://github.com/fergiemcdowall/stopword/files/2723432/stopwords-my.txt)

[2019-01-03 10:50] Kyaw-Zin-Thant commented on #51
Thz for support

[2019-01-03 10:52] eklem commented on #51
No problem. I'll add this later tonight (Central European time).

Just one question: Is this list sorted alphabetically or most to least used stopwords (frequency sorted) ?

[2019-01-03 10:54] Kyaw-Zin-Thant commented on #51
sorted alphabetically

[2019-01-03 10:54] eklem commented on #51
Ok, thanks!

[2019-01-03 10:55] Kyaw-Zin-Thant commented on #51
welcome

[2019-01-03 19:10] eklem commented on #51
One more question: Who has copyright to the stopwords and what license is it under?

[2019-01-07 02:49] Kyaw-Zin-Thant commented on #51
"မည်သူမဆို" စားႏိုုင္ပါတယ္ stopword is in semi colon . no lowercase no punctuation
no copyright. free for all

[2019-01-07 08:52] eklem commented on #51
Cool, but could you make it a little longer or just add two or three sentences (with no punctuation)? So it's a more real test.

[2019-01-07 11:11] Kyaw-Zin-Thant commented on #51
"မည်သူမဆို" "လာေရာက္" "စားသံုုး" " ႏိုင္သည္"   stopwords is in semi colon
Is it ok? 👍

[2019-01-07 12:13] eklem commented on #51
I was thinking of a mix of stopwords and non-stopwords.

[2019-01-10 13:59] eklem commented on #51
If you look at the test for the English stopword list, you have a sentence with 7 words, reduced to 4 words after stopwords removed:

[code]

[2019-01-22 08:18] eklem opened #52 "Create Myanmar stopword test"
To verify the [Myanmar stopword list](https://github.com/fergiemcdowall/stopword/issues/51) I need to get a short list of words containing stopwords and non-stopwords. Use the [Myanmar tokenizer](https://github.com/mutour/myanmar-tokenizer) on i.e. Myanmar wikipedia?

*EDIT:*
I read it wrong. Syllables aren't useful for me.

[2019-01-22 13:14] eklem commented on #52
Or just use the online version: http://www.nlpresearch-ucsy.edu.mm/NLP_UCSY/wsandpos.html
Text to test can be found in [samples.txt](https://github.com/mutour/myanmar-tokenizer/blob/master/samples.txt)

[2019-02-14 10:46] eklem opened #53 "Add Swahili stopword list"
Just need some text to use for the test. Check out [sw.wikipedia.org](https://sw.wikipedia.org/wiki/Mwanzo).

[2019-03-07 14:20] eklem commented on #53
https://github.com/fergiemcdowall/stopword/commit/e058faf93dfc1ca6e1e693163efe52a6336b2b9a

[2019-03-07 14:20] #53 closed

[2019-03-07 14:26] eklem commented on #51
I don't get the tests to work, but the stopwords are there to use, with the language code `my`.
I haven't documented it since I'm not sure that it's fully working. Feel free to open this issue again.

[2019-03-07 14:28] eklem commented on #39
If this is still interesting, I can create another library using the stopword lists from this one? Closing for now, please open if you need it.

[2019-03-07 14:28] #39 closed

[2019-03-07 14:34] #40 closed

[2019-03-07 14:34] #41 closed

[2019-03-07 14:36] eklem commented on #52
I don't get this working. Not sure why.

[2019-03-07 14:36] #52 closed

[2019-03-07 15:18] eklem commented on #50
All pages for Finnish wikipedia: https://fi.wikipedia.org/wiki/Toiminnot:Kaikki_sivut

[2019-03-11 11:11] eklem commented on #29
I'll test to browserify it and se if I can get something working. If yes, look into scripting it, and then we need some tests working also.

[2019-03-17 20:08] eklem commented on #50
https://github.com/fergiemcdowall/stopword/releases/tag/v0.1.17

[2019-03-17 20:08] #50 closed

[2019-03-18 07:58] eklem commented on #37
Sorry for the long wait. Will take a look soon!

[2019-03-18 13:20] eklem commented on #38
Closing for now until someone is interested.

[2019-03-18 13:20] #38 closed

[2019-03-20 09:15] eklem commented on #37
So, who can I set a s copyright-holder and under what kind of license? MIT?

[2019-03-20 09:19] eklem commented on #37
https://github.com/fergiemcdowall/stopword/commit/4126b11a99eb7ff26a2780200d405fed7506f48f

[2019-03-20 09:19] #37 closed

[2019-03-21 08:31] eklem commented on #49
In the process of adding your African stopword lists, three left =)

[2019-03-21 12:43] eklem commented on #49
@dohliam, do you have some sample text in Lugbara for tests.

[2019-03-21 16:15] dohliam commented on #49
Great to hear you were able to use the existing stop lists! There is indeed a collection of sample text in both forms of Lugbara:

* [Official orthography](https://github.com/global-asp/asp-source/tree/master/lgg-official)
* [Unofficial orthography](https://github.com/global-asp/asp-source/tree/master/lgg) (i.e., without diacritics)

[2019-03-21 18:36] eklem opened #55 "Merge existing and previous Russian stopwords"
Mistake to swap, need to check how much overlap it is between existing and previous.

[2019-03-21 18:38] eklem opened #56 "swap to ready-made lists for so, zu, st, yo"
Not fully sure about the lists I put together for Zulu, Yoruba, Sotho and Somali, should go for the ready made lists.

[2019-04-04 07:29] eklem commented on #46
https://github.com/fergiemcdowall/stopword/commit/cb2bc24ebb6951b91eb326e37819963bd41c5e3d

[2019-04-04 07:29] #46 closed

[2019-04-04 07:30] eklem commented on #47
https://github.com/fergiemcdowall/stopword/commit/cb2bc24ebb6951b91eb326e37819963bd41c5e3d

[2019-04-04 07:30] #47 closed

[2019-04-04 07:31] eklem commented on #42
Skipping this, concentrating on adding stopword lists for more languages, created by others.

[2019-04-04 07:31] #42 closed

[2019-04-04 11:12] eklem commented on #56
Hmm, do or not to do. I'll keep them for now. Open if somebody has an issue with the lists.

[2019-04-04 11:12] #56 closed

[2019-04-04 18:08] eklem commented on #49
I got them all out! I'll continue with the lists from [stopword-json](https://github.com/6/stopwords-json) at a later stage.

[2019-04-04 18:08] #49 closed

[2019-04-04 18:11] eklem opened #57 "check which languages to add next"
Go through the [stopwords-json](https://github.com/6/stopwords-json) project and see which we don't have.

[2019-04-05 11:45] eklem opened #58 "Add languages from stopword-json"
* [x] Armenian
* [x] Basque
* [x] Breton
* [x] Bulgarian
* [x] Catalan
* [x] Croatian
* [x] Czech
* [x] Esperanto
* [x] Estonian
* [x] Galician
* [x] Greek
* [x] Hungarian
* [x] Indonesian
* [x] Irish
* [x] Korean
* [x] Latin
* [x] Latvian
* [x] Marathi
* [x] Persian
* [x] Romanian
* [x] Slovak
* [x] Slovenian
* [x] Thai
* [x] Turkish

[2019-04-05 11:45] eklem commented on #57
Result:

* Armenian
* Basque
* Breton
* Bulgarian
* Catalan
* Croatian
* Czech
* Esperanto
* Estonian
* Galician
* Greek
* Hungarian
* Indonesian
* Irish
* Korean
* Latin
* Latvian
* Marathi
* Persian
* Romanian
* Slovak
* Slovenian
* Thai
* Turkish

[2019-04-05 11:45] #57 closed

[2019-04-05 11:55] eklem commented on #45
Think I should go through with this, create the list and ask for help vetting it.

[2019-04-05 12:51] eklem commented on #45
And here are [Punjabi Shahmukhi punctuation](https://en.wikibooks.org/wiki/Punjabi/Shahmukhi/Lesson_9) to weed out.

[2019-04-09 07:01] eklem opened #62 "Add Kurdish stopwords"
Check if exists. If not, try to generate one.
https://en.m.wikipedia.org/wiki/Kurdish_languages

[2019-04-09 12:12] eklem commented on #29
[code]
Set it up to build automatically

[2019-04-09 12:46] eklem opened #63 "Document browser use"
* How to include script
* How the functions are available
* What the outcome sould be

[2019-06-25 12:26] ElectroP opened #64 "Error: Cannot find module 'stopword'"
i installed stopword module still it is showing error

[2019-06-25 12:32] eklem commented on #64
Hi @ElectroP !
Can you describe how to reproduce the error?

[2019-06-25 12:43] ElectroP commented on #64
i created one project and then did npm install natural and also npm install stopword. While executing my node js file it is throwing above error

[2019-06-25 12:50] eklem commented on #64
I need a bit more info, the specific steps. I did this, and it worked:

* Opened a console window
* `npm install stopword`
* `mkdir test-stopword`
* `nano index.js`
* pasted in ```
sw = require('stopword')
const oldString = 'a really Interesting string with some words'.split(' ')
const newString = sw.removeStopwords(oldString)
// newString is now [ 'really', 'Interesting', 'string', 'words' ]
cons

[2019-06-25 12:53] eklem commented on #64
Or, you could create a package.json in your project and set stopword as a dependency and do `npm install` to get your dependencies installed within your project folder.

[2019-06-26 04:25] ElectroP commented on #64
it worked thanks :)

[2019-06-26 04:25] #64 closed

[2019-06-26 04:40] eklem commented on #64
Cool! Shout out if you have any more problems :-)

[2019-07-01 07:31] eklem opened #65 "webpack stopword"
webpack w/ config file so it can be run through scripts-section of package.json

[2019-07-01 11:44] #65 closed

[2019-07-01 12:29] eklem opened #66 "tests: switch from mocha to tape"
So that we can use tape-run for headless browser-testing.

Use webpack to pack both stopword for the browser and the browser test-scripts.

[2019-07-01 16:09] eklem commented on #44
https://github.com/fergiemcdowall/stopword/commit/62baaca110131158d0c089c1c8c92024cbff929e

[2019-07-01 16:09] #44 closed

[2019-07-01 16:10] eklem opened #67 "Fix fail-test"
Needs to work with tape / tape-run

[2019-07-02 08:23] #66 closed

[2019-07-02 08:24] #67 closed

[2019-07-02 08:25] eklem opened #68 "Browser demo"
Show a line with words (from one of the tests)
Show the same line with stopwords removed.

Use same style as search-index browser demo

[2019-07-02 10:59] #68 closed

[2019-07-02 10:59] #29 closed

[2019-07-02 12:39] #63 closed

[2019-07-04 06:19] eklem opened #72 "Make a GIF animation of the live demo"
Add it to Readme to easier show what the library can do.

[2019-07-05 08:28] eklem commented on #72
https://github.com/fergiemcdowall/stopword/raw/master/demo/stopword-demo.gif

[2019-07-05 08:28] #72 closed

[2019-07-05 08:32] eklem opened #73 "New languages that needs to be generated"
***Kurdish***
Check if exists. If not, try to generate one.
https://en.m.wikipedia.org/wiki/Kurdish_languages

***Northern Sami***
Here's the [list of all pages](https://se.wikipedia.org/w/index.php?title=Erenoam%C3%A1%C5%A1:Buot_siiddut&hideredirects=1).

The Wikipedia-site has over 7000 articles so it should be enough to generate a good list of stopwords.

 Could also be a nice start for a North

[2019-07-05 08:32] eklem commented on #48
Moved to one "needs to be generated" issue: https://github.com/fergiemcdowall/stopword/issues/73

[2019-07-05 08:32] #48 closed

[2019-07-05 08:32] eklem commented on #45
Moved to one "needs to be generated" issue: https://github.com/fergiemcdowall/stopword/issues/73

[2019-07-05 08:32] eklem commented on #62
Moved to one "needs to be generated" issue: https://github.com/fergiemcdowall/stopword/issues/73

[2019-07-05 08:32] #62 closed

[2019-07-05 11:28] fergiemcdowall commented on #72
Gif looks great!

[2019-07-05 11:32] eklem commented on #72
Thanks, wanted to show what it actually does =)

[2019-07-05 17:31] eklem opened #74 "Doesn't generate distribution file"
It did for a while, but not together with generating tests

[2019-07-05 17:49] eklem commented on #74
Make the two exports an array of module.exports

[2019-07-05 17:49] #74 closed

[2019-07-25 07:30] eklem opened #75 "Instead of symlink to dist-file"
Just after generating dist-file, make a copy that has the name stopword-latest.js
Good for people that wants bleading edge + the demo will point to the latest.

[2019-07-25 18:17] eklem commented on #75
Needed to use webpack.config.js for this, by generating an extra, identical version with .latest.js instead of .[version-number].js. Not perfect but good enough to a more elegant method pops up.

[2019-07-25 18:17] #75 closed

[2019-08-08 11:49] eklem commented on #58
Because of daq-proc, it will now be a lot simpler with all languages that has non-Latin characters. the words-n-numbers module will be able to create good arraysOfWords from stringsOfWords.

[2019-12-12 09:44] eklem opened #78 "Make it more flexible"
Using the [`spread...` syntax as used in this PR](https://github.com/fergiemcdowall/stopword/pull/77).

[2020-02-03 13:28] eklem opened #79 "Create a branch for older node versions"
[From this one, spread syntax seems to not work for Node.js v4](https://node.green/)

If may are still using version 4 of Node.js it's good to have a backup branch to patch with new stuff that doesn't break.

[2020-02-03 13:45] eklem commented on #78
Should not break tests for Node.js version 8 and up. So bump to 0.4, but make it backwards compatible (except for Node.js v4.x).

[2020-03-15 11:02] eklem commented on #79
Fix all planned languages first, so the old-style branch will not become stale so quick:
https://github.com/fergiemcdowall/stopword/issues/58

[2020-03-20 16:54] #58 closed

[2020-03-20 16:55] eklem commented on #58
NPM-package + version bump soon

[2020-03-20 19:42] eklem opened #81 "Add all languages to the Demo"

[2020-03-20 19:42] #79 closed

[2020-03-21 07:16] eklem commented on #73
Need help from people that are fluent in these languages to move on.

[2020-03-21 18:47] eklem opened #82 "Slovenian iso-code is sl not sk"
Only readme

[2020-03-22 05:16] eklem opened #83 "sort languages after language, not code"

[2020-03-22 19:04] eklem commented on #83
https://github.com/fergiemcdowall/stopword/commit/fbbf126b73bca3af05dc1707a2d34bb1f87553ff

[2020-03-22 19:04] #83 closed

[2020-03-22 19:07] eklem commented on #82
https://github.com/fergiemcdowall/stopword/commit/d39967af00b3b63ad0de33c274b0ea803dc3a632

[2020-03-22 19:07] #82 closed

[2020-04-03 16:40] eklem commented on #55
Not happening now. If anybody is interested, we can take a look and merge.

[2020-04-03 16:40] #55 closed

[2020-04-03 16:41] eklem commented on #73
Feel free to open this again. Closing for now since I don't have anybody speaking these languages.

[2020-04-25 08:54] eklem opened #84 "Add standard.js to tests"
* in package.js
* weed out all standard.js bugs
* add badge

[2020-04-25 08:54] eklem opened #85 "Add snyk.io for keeping up with dependency bumps"

[2020-04-25 18:05] eklem commented on #85
https://github.com/fergiemcdowall/stopword/commit/177b5299748d3b5db446cc669cca9d29c75b4a74

[2020-04-25 18:05] #85 closed

[2020-04-25 18:05] eklem commented on #84
https://github.com/fergiemcdowall/stopword/commit/177b5299748d3b5db446cc669cca9d29c75b4a74

[2020-04-25 18:05] #84 closed

[2020-05-01 09:17] eklem opened #86 "Slimmer distribution/package size"
Use `.npmignore` and `file`:
https://zellwk.com/blog/ignoring-files-from-npm-package/

The size is a little big with all the languages, so good to get it smaller.

[2020-06-30 07:32] eklem commented on #73
Opening this again, trying to get someone that can help me with the Northern Sami language first:
https://www.nrk.no/sapmi/lemet-mahtte-_20_-oversatte-verdens-storste-spill-minecraft-til-samisk-1.15068639

[2020-09-15 09:44] eklem commented on #51
Anyone have a list of words (string?) that I can test? Then I can officially add Myanmar to the library.

[2020-09-22 07:59] eklem commented on #78
Will check if it's doable without changing the code. Just create an array and add several language stopword-lists to that array with spread syntax.

[2020-09-22 18:07] eklem commented on #78
Just needed to document how to combine several stopword arrays (both predefined and custom) with spread syntax.
https://github.com/fergiemcdowall/stopword/issues/78

[2020-09-22 18:07] #78 closed

[2020-09-22 18:18] eklem commented on #78
And thanks to @cheezeburger for the idea!

[2020-10-13 05:16] eklem opened #93 "Get latest version of webpack working"
https://github.com/fergiemcdowall/stopword/pull/92

[2020-11-24 10:21] eklem opened #113 "skip versioning dist-files"
Change `stopword.1.0.3.js` to `stopword.js`. CDNs and NPM takes care of this.

[2020-12-05 20:24] eklem commented on #113
https://github.com/fergiemcdowall/stopword/commit/28734895b84b104cd95f7f99b908a7eb9de6eb93

[2020-12-05 20:24] #113 closed

[2020-12-10 06:37] eklem opened #118 "Fix demo"
change link to library

[2020-12-10 13:01] eklem commented on #118
https://github.com/fergiemcdowall/stopword/commit/1505d98fffcaf3f8fbafc566d4ded22c2de50420

[2020-12-10 13:01] #118 closed

[2020-12-11 11:32] eklem commented on #73
[Moving the Northern Sami language to stopword-extra](https://github.com/eklem/stopword-extras/issues). The stopword module is getting a bit big and shouldn't grow much more?

Feel free to open this issue if you're interested in stopwords for Kurdish or Punjabi Shahmukhi.

[2020-12-11 11:32] #73 closed

[2020-12-18 12:11] eklem commented on #93
A bit hack'ish it seems, but working. Should probably look for a new `node + browser` test setup.

[2020-12-18 12:11] #93 closed

[2021-03-07 17:56] #81 closed

[2021-03-10 11:13] eklem opened #153 "Move all licenses out to the LICENSE-file"
Move all stuff from each language file to the main LICENSE file. Removing stuff from build file.

[2021-04-13 20:37] eklem opened #167 "Wolaytta stopwords"
Coming soon - Check the thread over at [stopword-trainer](https://github.com/eklem/stopword-trainer/issues/120).

[2021-04-23 11:29] eklem opened #171 "Create and add Telugu stopwords"
82 million native speakers should count for something =)
https://en.wikipedia.org/wiki/Telugu_language

Also, should go through other minority languages, both big and small and try to create and add stopword lists for these.

[2021-04-23 11:30] eklem commented on #171
Need help verifying/vetting stopword list when I've generated one.

[2021-04-27 18:47] eklem opened #173 "Urdu stopword list"
Think this exists somewhere, but if not, develop it.

[2021-05-15 17:02] spicemix opened #179 "bug in @types/stopword, plus Typescript access"
Not sure if you maintain @types/stopword, but I think it has a bug in it:

[code]

As you see `sw.la` is a `string` and not a `string[]`. Reporting here because definitely typed is a massive monorepo.

Also, I wasn't able to use `sw[language]` to get the stopwords list for a given language. So I wrote this crazy function to do it. Is there an easier way for Typescript users? If not, you might incl

[2021-05-15 17:17] fergiemcdowall commented on #179
According to [npm](https://www.npmjs.com/package/@types/stopword) @ricosandyca and @peterblazejewicz are the guys to ask 🙂

(Typescript is not my forte- so this is an area where contributions are greatly appreciated!)

[2021-05-15 17:21] fergiemcdowall commented on #179
(That said, this is of course a JavaScript lib, and will continue to be so, so as far as I understand it maintaining @types/stopword is the way to go)

[2021-05-16 18:49] peterblazejewicz commented on #179
folks, sorry, it was a exemplary typo. I've updated types, to use a list of language codes now, so it should be easier to spot similar issue next time, thx!

[2021-05-16 19:26] fergiemcdowall commented on #179
Thanks for the fix @peterblazejewicz 👍👍

[2021-05-16 19:26] #179 closed

[2021-07-21 23:37] behzadmoradi opened #194 "The library considers the verb "see" as a stop word!"
In a string such as `she loves to see him`, the verb `see` is taken as a stop word and is removed from the final array which is not right

[2021-07-22 06:37] fergiemcdowall commented on #194
Yes, I _see_ what you mean😉. A quick google confirms that some English stopword lists include "see", whilst others drop it. At this stage there could be an argument for referring to another list, or for popular languages like English, being able to choose, or even compose lists from pre-existing stopword lists.

[2021-07-22 08:49] eklem commented on #194
From a theoretical standpoint it's not correct, but sometimes it will be correct in practical use. When the word see is used in a lot if documents. I thought of generating stopword lists, sotted on stopwordiness. But for now, that's too much work. We can take it out. Can you create a PR?

I've created a library to generate lists of stopwords where you can redlist words that you want to keep (as op

[2021-07-22 08:55] eklem commented on #194
Also, stopword-trainer can be used to to continually update your list if stopwords.

[2021-07-23 10:17] behzadmoradi commented on #194
@eklem When the NPM repo is going to get updated?

[2021-07-23 11:00] eklem commented on #194
Thanks! I think I'll get it done later tonight.

[2021-07-23 18:37] eklem commented on #194
@behzadmoradi, version 1.0.8 is published to NPM 😄
Thanks for the PR and issue.

[2021-07-23 18:37] #194 closed

[2021-07-26 18:25] eklem opened #198 "Add Tagalog/Filipino language"
https://github.com/stopwords-iso/stopwords-tl

[2021-07-26 18:27] eklem opened #199 "Check stopwords-iso and compare to stopword"
See if any languages can be copied over. Also add a thanks to stopwords-iso in readme

[2021-07-27 07:41] eklem commented on #198
https://github.com/fergiemcdowall/stopword/releases/tag/v1.0.10

[2021-07-27 07:41] #198 closed

[2021-07-27 07:42] eklem commented on #199
Better contribution attribution in [v1.0.10](https://github.com/fergiemcdowall/stopword/releases/tag/v1.0.10)

[2021-07-27 07:53] eklem commented on #199
* Gujarati
* Kurdish
* Lithuanian
* Malay
* Sardinian
* Ukrainian
* Urdu

[2021-07-27 07:54] eklem opened #201 "Gujarati stopword list"
from stopwords-iso

[2021-07-27 07:54] eklem opened #202 "Kurdish"
from stopwords-iso

[2021-07-27 07:54] eklem opened #203 "Lithuanian"
from stopwords-iso

[2021-07-27 07:55] eklem opened #204 "Malay"
from stopwords-iso

[2021-07-27 07:55] eklem opened #205 "Sardinian"
from stopwords-iso

[2021-07-27 07:56] eklem opened #206 "Ukrainian"
from stopwords-iso

[2021-07-27 07:56] eklem commented on #199
Added separate issues for each of them

[2021-07-27 07:56] #199 closed

[2021-07-27 07:58] eklem opened #207 "Check if stopword has languages stopwords-iso doesn't have and add"
We use a lot of work from [stopwords-iso](https://github.com/stopwords-iso/stopwords-iso), so contributing back would be good.

[2021-07-27 08:07] eklem commented on #207
* [Punjabi Gurmukhi](https://github.com/stopwords-iso/stopwords-iso/issues/14)

[2021-07-28 20:17] eklem opened #209 "Generate a more comprehensive Myanmar stopword list"
The one we have now contains few words. It seems like a lot, but you have all sorts of versions of different words. Use `words-n-numbers` to extract.

[2021-07-28 20:43] eklem commented on #173
Fixed in https://github.com/fergiemcdowall/stopword/releases/tag/v1.0.11

[2021-07-28 20:43] #173 closed

[2021-07-28 20:45] eklem commented on #51
Got tests to work in [v1.0.11](https://github.com/fergiemcdowall/stopword/releases/tag/v1.0.11), but I think the list needs to be more comprehensive. [Looking into that](https://github.com/fergiemcdowall/stopword/issues/209).

[2021-07-28 20:45] #51 closed

[2021-07-28 20:58] eklem opened #210 "What to do with numbers and special characters?"
What are the use cases for having numbers (1-10 mostly) in the stopword lists, and also some non-alphabetic characters like "-"?

With [words-n-numbers](https://github.com/eklem/words-n-numbers) you can extract words, numbers, smileys, #keywords, @usernames or email@adres.ses, or a combination of them, so I can't see why we need to weed out non-alphabetical characters. This is a big step, so will

[2021-07-29 06:56] eklem commented on #153
Not about space saving, but making it more obvious and transparent who has contributed to the library.

[2021-07-29 07:03] eklem commented on #153
Suggestion:
1 One LICENSE-file for the project (MIT)
2 A License.md-file with a table of contents listing all other work w/ copyright holders and link to in-library copies of the different licenses in use. I.e. MIT, Apache, BSD, different CCs etc.

Possibly put all from point 2 into a license folder.

[2021-07-29 07:59] eklem opened #211 "Swap build + tests to batr"
Will get rid of some security issues, and make dependabot less chatty.
Also possible to test GUI (i.e. demo)

Do this when batr is testing with Travis-CI

[2021-07-29 08:00] eklem opened #212 "Test demo"
Add GUI-tests for demo through [batr](https://github.com/fergiemcdowall/stopword/issues/211) so it doesn't break unintended.

[2021-07-29 08:29] eklem opened #213 "Use words-n-numbers instead of .split(' ') to get words?"
Check on Myanmar language sample if there is any difference. If so, add as devDependency and use in tests. Also add as link to CDN from demo.

[2021-09-27 07:25] eklem commented on #210
Maybe remove numbers written with ciphers and keep the ones written with letters.

[2021-12-01 18:23] eklem commented on #210
Remove numers like "1,2,3" but not as words "one,two,three". Also remove special characters. This will be taken care of by i.e words-n-numbers.

[2021-12-01 18:51] #207 closed

[2021-12-12 06:48] eklem opened #250 "Add a cipher/number-language"
When [removing numbers from the other languages](https://github.com/fergiemcdowall/stopword/issues/210) that has that, it may be an issue for some depending projects. Adding a numbers array you can join to your language array could mend that.

Make it large, and users can slice it to fit their needs. Make it i.e. 1 - 100.

[2021-12-12 07:18] eklem opened #251 "add tests for number language"

[2021-12-26 10:37] eklem opened #252 "Add stopwords fro Fula language"
https://en.wikipedia.org/wiki/Fula_language
https://twitter.com/Cuervo3/status/1475049086600556545

[2021-12-26 11:05] eklem commented on #252
So far the Fula wikipedia only contains 360 articles:
https://ff.wikipedia.org/wiki/Hello_ja%C9%93%C9%93orgo

[2021-12-29 21:02] eklem opened #254 "Add stopwords for Sami when generated"
Add them from [stopword-sami](github.com/eklem/stopword-sami) when they get good enough quality.

* [ ] North Sami
* [ ] Lule Sami
* [ ] South Sami

[2021-12-29 21:10] eklem opened #255 "Swap language codes from `ISO 639-1 Code` to `ISO 639-3 Code`"
[The ISO 639-2 Codes](https://www.loc.gov/standards/iso639-2/php/code_list.php)
And I need to figure out if we should use [bibliographic or terminology](https://www.loc.gov/standards/iso639-2/php/code_list.php) version of the Codes. Or set up as synonyms, even if that may mean bigger builds.

ISO 639-2 Codes have codes for i.e. Sami languages, which we [need soon](https://github.com/fergiemcdowall

[2022-01-17 12:20] eklem opened #258 "Generate Icelandic stopwords"
Use https://is.wikipedia.org/wiki/Fors%C3%AD%C3%B0a ?
Need help to validate it when actually generated.

[2022-01-29 14:11] ianengelbrecht opened #262 "ES6 import destructuring"
It would be good to be able to use ES6 imports:

import {removeStopwords, hr, cs, zu} from 'stopword'

[2022-01-29 16:09] eklem commented on #262
Yes. That would be good! I'm restructuring bundling/building a little, and will add esm-module, and I'll add it so you get to the functions and variables/arrays directly.

[2022-01-29 16:18] eklem commented on #262
But, for the stopword arrays, I'm guessing it would be good to have something like `swHr`, `swCs`, `swZu` since you could have other language arrays that are not stopwords?

[2022-01-29 17:19] ianengelbrecht commented on #262
I think it will be fine if you leave them as is. Users can alias them in the destructuring. Thanks! 😁

[2022-01-30 08:08] eklem commented on #262
I'm on the case. It will take some days or a week since I have a lot of other changes I want to get out the door at the same time.

[2022-01-30 09:58] eklem commented on #153
Moved to `./dist/`-folder and should be referenced from the minified code.

[2022-01-30 09:58] #153 closed

[2022-01-30 10:03] eklem opened #263 "Reference license file from minified"

[2022-01-30 10:13] #263 closed

[2022-01-30 10:21] eklem commented on #167
This one has halted. I'll open it again if there is any more progress at [#120](https://github.com/eklem/stopword-trainer/issues/120)

[2022-01-30 10:21] #167 closed

[2022-01-30 14:19] eklem opened #264 "Add test for demo"
Type English text and check result. Swap to Norwegian and check result. Remove text and add some Norwegian text. Check. This is just to get a heads up if the demo suddenly fails.

[2022-01-30 14:29] eklem commented on #262
Fixed in v2-branch. Will use some time to a couple of other issues before wrapping up and publishing. Like swapping language codes from ISO 639-1 Code to ISO 639-2 Code

#255

[2022-01-30 14:46] eklem commented on #255
Stick to bibliographic naming of the ISO 639-2 codes. Make terminology-version and old ISO 639-1 code work by referencing them:

[code]

[2022-01-30 16:33] eklem commented on #255
Skipping terminology-version. It's just opening up for bloat without knowing if it's necessary.

[2022-01-30 16:36] eklem opened #265 "Swap from TravisCI to GitHub workflow CI"
Set up .yml file

[2022-01-31 09:58] eklem opened #266 "Release-notes v2"
* Why we are removing digits and punctuation marks.
* Adding a "language" with numbers and punctuation marks.
* How to go about it-> Use either new numbers and punctuation marks-language or words-n-numbers
* Why words-n-numbers or similar regex'es are good: Almost all languages and characters will work out of the box. Chinese, Japanese and some other languages still need to be tokenized by some ot

[2022-01-31 10:08] eklem commented on #255
Ah, there is a newer version of the standard: [SO-939-3](https://iso639-3.sil.org/code_tables/639/data). Use this instead. Which means it will not be the `bibliographic`- but `termiology` version used.

[2022-02-02 16:53] eklem opened #268 "make first v3 a pre-release"
.rc1 etcetera... A bit too many changes to just flip the switch right away.

https://stackoverflow.com/questions/50846170/how-to-generate-npm-release-candidate-version

[2022-02-03 08:46] #255 closed

[2022-02-03 08:47] #211 closed

[2022-02-03 09:32] eklem opened #269 "Document API-changes"
* Destructuring
* New language codes - ISO-639-3 (from ISO-639-1)
* How to do it mostly like before, despite these two changes.

[2022-02-03 17:31] eklem commented on #213
Only for the demo

[2022-02-04 07:27] eklem commented on #262
@ianengelbrecht I'll see if I can get a v3.0.0.rc.1 out later today. Just need some documentation changes.

[2022-02-04 13:16] #265 closed

[2022-02-04 13:28] #266 closed

[2022-02-04 13:37] eklem commented on #262
published it under tag: next, so:
`npm install stopword@next`

It's 2.0.0-rc.1 for including in a dependency list.

Shout out if any problems!

[2022-02-04 13:39] #268 closed

[2022-02-04 13:39] #262 closed

[2022-02-04 19:42] eklem opened #270 "fix language codes in LICENSES.txt file"
They are now ISO-639-1 and should be ISO-639-3
https://github.com/fergiemcdowall/stopword/blob/v2/dist/LICENSES.txt

[2022-02-05 06:55] #264 closed

[2022-02-05 06:55] #212 closed

[2022-02-05 11:21] #270 closed

[2022-02-05 17:08] eklem commented on #213
Just do the research on Myanmar language and then figure out what to do.

[2022-02-06 12:08] eklem commented on #250
Not making it large, only 0 - 9, but for several different scripts.
So far:
* regular (as in, 0-9 that is used in JavasScript as numbers)
* Farsi/Persian
* Korean (looks almost like regular, but they are different characters)
* Myanmar

[2022-02-06 14:21] eklem commented on #213
Used in tests as devDependency

[2022-02-06 14:26] #250 closed

[2022-02-06 14:26] #251 closed

[2022-02-06 14:27] eklem commented on #213
Works nice for Myanmar it seems. Use it to create a new/better Myanmar stopword list

[2022-02-27 16:49] eklem commented on #199
I thought Sardinian was part of stopwords-iso, but it's not. So it's out for now. Will change it to "needs to be generated".

[2022-02-28 16:02] #201 closed

[2022-02-28 16:02] #202 closed

[2022-02-28 16:02] #203 closed

[2022-02-28 16:02] #204 closed

[2022-02-28 16:02] #206 closed

[2022-03-01 06:54] eklem opened #275 "Remove API-example for Norwegian"
After language list. It's not relevant, also redundant.

[2022-03-01 08:23] eklem opened #276 "Add that import destructuring is a breaking change"
import/require
But demo is the same as before. You'll use the script-tag to use the umd.js-file and function and variables will have the `sw.` prefix.

[code]

[2022-03-02 14:08] eklem opened #277 "import/require on numbers stopword removal is wrong"
`swe` is imported, should be `_123`

[2022-03-02 17:26] eklem commented on #276
Didn't have ESM-scripts before, so it's not a breaking change. Only the language codes are.

[2022-03-02 17:26] #276 closed

[2022-03-03 06:23] eklem commented on #277
https://github.com/fergiemcdowall/stopword/commit/1cc31ade7be79b8309cff2e40b4e44cc1026df7c

[2022-03-03 06:23] #277 closed

[2022-03-03 06:24] eklem commented on #275
https://github.com/fergiemcdowall/stopword/commit/1cc31ade7be79b8309cff2e40b4e44cc1026df7c

[2022-03-03 06:24] #275 closed

[2022-03-24 07:03] eklem opened #279 "add size of dist-files to readme"
Just approximate size. They are all 130 kb now.

The library is getting kind of big, but the minified are still quite small

[2022-04-29 03:59] spicemix commented on #179
Any hope for an @types/stopword update for stopword 2.0? Thanks @ricosandyca and @peterblazejewicz !

[2022-04-29 05:40] fergiemcdowall commented on #179
@spicemix you seem to know the code and the requirements- do you feel up to submitting the PR to @types/stopword ?

[2022-04-29 05:49] eklem commented on #179
The release notes for V2 may help? https://github.com/fergiemcdowall/stopword/releases/tag/v2.0.0

There are some new languages and new country codes, in addition to import destructuring.

[2022-04-29 06:03] spicemix commented on #179
Hrm well I've never done it before and am trying to minimize commitments atm. My temptation would be to rewrite the whole thing in Typescript.

[2022-04-29 10:58] spicemix commented on #179
For now I just copied into my project the whole stopword.esm.mjs, renamed it stopword.esm.ts, and rewrote `removeStopwords` as follows:

[code]

Of course it won't npm update now, I will have to do that manually, but this works OK for me for the moment until someone makes a definition file. Thanks for all your work on this!

[2022-04-29 11:10] peterblazejewicz commented on #179
fyi: DefinitelyTyped/DefinitelyTyped#60121

[2022-04-29 12:21] eklem commented on #179
Thank you, @peterblazejewicz !

[2022-05-27 09:34] eklem opened #283 "add jsDelivr link"
and statistics

[2022-06-01 13:15] #283 closed

[2022-06-02 12:48] eklem commented on #171
* [`All pages` on Wikipedia for Telugu](https://te.wikipedia.org/wiki/%E0%B0%AA%E0%B1%8D%E0%B0%B0%E0%B0%A4%E0%B1%8D%E0%B0%AF%E0%B1%87%E0%B0%95:%E0%B0%85%E0%B0%A8%E0%B1%8D%E0%B0%A8%E0%B0%BF%E0%B0%AA%E0%B1%87%E0%B0%9C%E0%B1%80%E0%B0%B2%E0%B1%81)
* [Translate Telugu - English](https://translate.google.com/?sl=te&tl=en&op=translate)
* Next page === తరువాతి పేజీ

[2022-06-02 14:16] eklem commented on #171
Moved to separate repository. Closing for now. Open when [stopword-telugu](https://github.com/eklem/stopword-telugu) repository is mature enough.

[2022-06-02 14:16] #171 closed

[2022-06-02 14:39] eklem commented on #258
Closing until I or someone else got a repository and some work going

[2022-06-02 14:39] #258 closed

[2022-06-02 14:40] #252 closed

[2022-06-02 14:40] eklem commented on #209
Closing until I or someone else got a repository/effort for this going.

[2022-06-02 14:40] #209 closed

[2022-06-02 14:40] eklem commented on #205
Closing until I or someone else got a repository/effort for this going.

[2022-06-02 14:40] eklem commented on #45
Closing until I or someone else got a repository/effort for this going.

[2022-06-02 14:40] #45 closed

[2022-06-03 09:28] eklem commented on #171
Maybe ask user `Jyotipatelammu` putting a like on this thread, where I ask "[Anyone I know that knows someone speaking/knows Telugu language?](https://twitter.com/eklem/status/1532369961989165058)" to go through the list when ready.

[2022-06-03 10:41] eklem commented on #171
And `words-n-numbers` recognises it.
<img width="814" alt="Screenshot 2022-06-03 at 12 40 49" src="https://user-images.githubusercontent.com/236656/171839089-63c41e05-40e2-4026-82fa-70d0039a9b58.png">

[2022-06-12 08:25] titanism opened #286 "Major stopword differences with "natural" package (inaccurate data?)"
Cross-posting here this reference for you to look at @fergiemcdowall in case anything stands out to you.

Ref: https://github.com/NaturalNode/natural/issues/651

[2022-06-12 12:49] fergiemcdowall commented on #286
@titanism what are the objectives and expectations here? Maybe a bit of background?

[2022-06-12 18:33] eklem commented on #286
I saw that some of the difference is numbers as digits. Since Unicode property escapes came we've moved to only having words or numbers as words since the extraction of words are now far better, no matter which alphabet. I've made a library to not have to do the actual regex'es all the time: [`words-n-numbers`](https://github.com/eklem/words-n-numbers)

And we're not removing punctuation with the

[2022-06-12 18:37] fergiemcdowall commented on #286
Agree in principle. Who should decide what words make the list and how should they decide?

That would be great, and they are free to do so 🙂👍

Its not something that this project is aiming for at the moment. In any case the best way to achieve this would be for ’natural’ to depend on ’stopword’.

[2022-06-13 06:45] eklem commented on #286
For the places where you think there are clear shortages in one of our language stopword list, I'll add them to our lists.

[2022-06-16 11:32] navroz441 opened #287 "Stop Word list for Punjabi GUrmukhi"
I am trying to make punjabi text fo through NLP piepeline.
I need a list of punjabi stopwords so that i can complete my task.
i am trying to create this system on python3

[2022-06-16 11:54] eklem commented on #287
We have that, but it's in JavaScript. But the list is just an array. You can copy and reference the license over in your Python code?
https://github.com/fergiemcdowall/stopword/blob/master/src/stopwords_panGu.js

[2022-06-16 12:44] eklem commented on #287
You have the tests, and one of them is for [Punjabi Gurmukhi](https://github.com/fergiemcdowall/stopword/blob/master/test/test.cjs.js#L246-L251):

[code]

[2022-06-20 09:01] eklem commented on #287
I'm closing this issue now, @navroz441. Feel free to open it again if any  more/new questions.

[2022-06-20 09:01] #287 closed

[2022-06-20 09:03] eklem commented on #286
I'm subscribing to [the issue over at Natural](https://github.com/NaturalNode/natural/issues/651), so closing this issue for now. Feel free to open it agaian if anything happens. I'll also open it if there are some actionable events.

[2022-06-20 09:03] #286 closed

[2022-08-28 09:23] eklem opened #291 "12 new languages?"
https://github.com/stopwords-iso/stopwords-iso/issues/19

Add theese throughout the winter:

- Albanian
- Belarusian
- Bosnian
- Icelandic
- Javanese
- Macedonian
- Norwegian Bokmål
- Norwegian Nynorsk
- Serbian
- Sinhala
- Tamil
- Telugu
- Welsh

Norwegian Bokmål is probably the same as what we got already, but Norwegian Nynorsk is interesting.

[2022-09-03 15:18] BLKSerene opened #292 "Add stop words for more languages from extra-stopwords: Albanian, Belarusian, Icelandic, Mongolian, Nepali, Serbian (maybe same as Croatian?), Telugu"
Hi, thanks for keep maintaining this project. Have you considered adding stop words for more languages from [extra-stopwords](https://github.com/Xangis/extra-stopwords)?

Theses languages are currently missing:
Albanian, Belarusian, Icelandic, Mongolian, Nepali, Serbian (maybe same as Croatian?), Telugu

[2022-09-03 17:23] eklem commented on #292
Thanks! I'll add them. I'm in the middle of creating Sami stopwords, but I'll add them after that. I'll check if Croatian and Serbian are the same or not. Thanks for checking the difference and creating an issue!

[2022-09-05 21:18] eklem opened #294 "tests not running on NodeJS v18"
[code]

Seems to be an AvaJS - NodeJS v18 problem...

[2022-09-05 21:25] eklem commented on #294
The issue seems to be Node v18.8.0: https://github.com/nodejs/node/issues/44391

Tried v18.7.0 and that worked, so just wait for 18.9.0 ?

[2022-09-05 21:32] eklem commented on #294
Batr needs to be updated with latest AvaJS version (4.3.3) to work with NodeJS v18.8.0.

[2022-09-05 21:55] eklem commented on #294
Fixed with https://github.com/fergiemcdowall/stopword/commit/05cbfdcffdfd90e81b13f94951ab9981c0cf1b82

[2022-09-05 21:55] #294 closed

[2022-09-09 06:51] eklem opened #296 "Test and show how to bundle just small parts of the library"
For when you only need one or a few languages and want to keep the package size small.

Check for both CJS and ESM
Make it a separate page.

[2022-09-24 06:35] eklem opened #297 "licenses.txt is causing some problems"
Makes GitHub be ambiguous about which license the library has.

[2022-09-24 06:44] eklem commented on #297
Quality meter on npmjs went from 39% to 61%, so working. Just moved the file to ./src folder and changed rollup config.

[2022-09-24 06:44] #297 closed

[2022-09-24 12:07] fergiemcdowall commented on #297
Where does the NPM quality score for stopword live?

[2022-09-24 13:55] eklem commented on #297
Live? In the search result. Middle of those three lines. I think it has something to say for the search result scoring.
<img width="865" alt="Screenshot 2022-09-24 at 15 53 40" src="https://user-images.githubusercontent.com/236656/192101779-e3a0ccbb-c1f7-4504-b35b-35ca477ff3e1.png">

[2022-09-25 01:10] fergiemcdowall commented on #297
Thanks 👍

[2022-11-27 12:47] WebMechanic opened #300 "put each word in a single line?"
Hello,

I'm interested in using search-index for our (local) documentation project and eventually ended up here.

Looking through some of the language files I found a couple of conjugations missing for the languages I'm interested in.
It's hard to add them an create a PR without the risk of causing merge conflicts if everything's literally in a single line.

I therefore suggest to reformat all lan

[2022-11-27 13:44] eklem commented on #300
I'll look into that. It will add a little, since you have indenting on each line. But that doesn't matter since we will still bundle/build minified versions. Thanks for the input.